rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_profiles/{userId} {
      allow read, write: if true;
    }
    match /conversations/{convId} {
      allow read, write: if true;
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
    match /user_conversations/{userId}/{document=**} {
      allow read, write: if true;
    }
  }
}
